<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title>Trakster</title>
</head>

<body>
    <header>
        <h1><a href="/">Trakster</h1>
        <nav>
            <a href="./main.handlebars">Home</a>
        </nav>
    </header>
    <form class="login-form">
        <div>
            <label for="username-signup">Username:</label>
            <input tpye="text" id="username-signup" />
        </div>
        <div>
            <label for="email-signup">Email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit">Signup</button>
        </div>
    </form>

</body>

</html>