<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <section>
        <a href="#" class="is-pulled-right"> &larr; Back to dashboard</a>
        <h2 class="title">Create blog post</h2><hr>
    
        <form class="new-post-form">
            <div>
                <label for="post-title">Title:</label>
                <input class="input" type="text" id="post-title" name="post-title" placeholder="insert blog title here"/>
            </div>
            <div>
                <label for="post-content">Content:</label>
                <input class="textarea is-large" id="post-content" name="post-content" placeholder="insert blog content here"/>
            </div>
            <button type="submit" class="button is-success is-pulled-right">Create post</button>
        </form>
    </section>
    
    <script src="/javascript/add-post.js"></script>
