<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <section>
        <h2 class="title">Create Add</h2><hr>
    
        <form class="new-post-form">
            <div>
                <label for="post-title">Title:</label>
                <input class="input" type="text" id="post-title" name="post-title" placeholder="insert add title here"/>
            </div>
            <div>
                <label for="post-content">Your add:</label>
                <input class="textarea is-large" id="post-content" name="post-content" placeholder="insert add content here"/>
            </div>
            <div>
                <label for="post-area">Zip Code:</label>
                <input class="textarea is-large" id="post-area" name="post-area" placeholder="Zip code"/>
            </div>
            <div>
                <label for="post-price">Price:</label>
                <input class="textarea is-large" id="post-price" name="post-price" placeholder="price"/>
            </div>
            <div>
                <label for="post-type">Add Type:</label>
                <input class="textarea is-large" id="post-type" name="post-type" placeholder="buy or sell"/>
            </div>
    
        <button type="submit" class="button is-success is-pulled-right" id="newpost-btn" onclick="newFormHandler(this)" value="Submit">Create post</button>
        </form>
    </section>
    
    <script src="/javascript/create-post.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
