<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="media/assets/stylesheet/style.css">
    <title>Trakster</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img class="logo" src="media/assets/TraksterLogo.png" height="50" width="162"></img>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sign in
                        </a>
                        <div class="dropdown-menu">
                            <form class="px-4 py-3">
                                <div class="form-group">
                                    <label for="exampleDropdownFormEmail1">Email address</label>
                                    <input type="email" class="form-control" id="logemail"
                                        placeholder="email@example.com">
                                </div>
                                <div class="form-group">
                                    <label for="exampleDropdownFormPassword1">Password</label>
                                    <input type="password" class="form-control" id="logpassword" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                        <label class="form-check-label" for="dropdownCheck">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" id="loginbtn" class="btn btn-primary"
                                    onclick="loginFormHandler(this)">Sign in</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">New around here? Sign up</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="./create-post.html" id="createsec" tabindex="-1" aria-disabled="false">Create
                            Listing</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <div>
                    <button type="button" class="btn btn-primary">
                        Notifications <span class="badge badge-light"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <video class="video" width="560" height="315" muted autoplay>
        <source src="media/assets/bike.mp4" type="video/mp4">
    </video>
    <!-- <iframe class="video" width="560" height="315" src="media/assets/bike.mp4" frameborder="0"
        allowfullscreen></iframe> -->
    <div class=" container">
        <div class="jumbotron">
            <h1 class="display-4">Trakster, let's go for a ride!</h1>
            <p class="lead">Looking for a new set of wheels? We've got you covered with new and used bicycles.</p>
            <hr class="my-4">
            <p>First time here? No worries, signing up is easy.</p>
            <!-- <input type="text" class="form-control" id="isloggedIn" > -->
            <div class="btn-group" role="group">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                        Sign up!
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <form>
                        <label for="username-signup-label">Username</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="username-signup" placeholder="Username">
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="email-signup-label"></label>
                                <input type="email" class="form-control" id="email-signup"
                                    placeholder="email@example.com">
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="email-signup-label"></label>
                                    <input type="email" class="form-control" id="email-signup"
                                        placeholder="email@example.com">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="password-signup-label"></label>
                                    <input type="password" class="form-control" id="password-signup"
                                        placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-primary" type="submit" id="signup-btn" onclick="signupFormHandler(this)"
                            value="Submit">
                    </form>
                </div>

            </div>
        </div>

        <!-- this is for Listing -->
        <div id="posts">

        </div>
    </div>


    <!-- <div class="card mb-3" id="listing"> -->
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <!-- <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div> -->
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="/javascript/create-post.js"></script> -->
    <script src="/javascript/login.js"></script>
    <script src="/javascript/signup.js"></script>
    <script src="/javascript/get-posts.js"></script>
    <!-- <script src="/javascript/logout.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var text_val = $('#isloggedIn').val();
            if (text_val === '') {
                console.log(' Sign in is Enable');

            } else {
                console.log(' Sign out is enable');
            }
        });
    </script>
    </script>
</body>
<!-- Bootstrap CSS -->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
s

</html>