<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title>Trakster</title>
</head>

<body>
    <header>
        <h1><a href="/">Trakster</h1>
        <nav>
            <a href="./login.handlebars">Login</a>
            <a href="./main.handlebars">Home</a>
            <a href="./create-post.handlebars">Create a Post</a>
            <a href="./item.handlebars">Post an Item</a>
        </nav>
    </header>
    <form class="login-form">
        <div>
            <label for="email-login">Email:</label>
            <input type="text" id="email-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

</body>

</html>