<!doctype html>
<html lang="en">


<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
	<link rel="stylesheet" href="media/assets/stylesheet/style.css">
	<link rel=icon href="media\assets\favicon.png" sizes="32x32" />
	<title>Trakster</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="navbar-brand"></div>
		<a class="navbar-brand" href="#">
			<img src="./media/assets/logo2.png" width="300" height="auto" alt="logo" loading="lazy">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<!-- <li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li> -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Sign in
					</a>
					<a class="nav-link" role="button" id="logoutButton">
						Sign out
					</a>
					<div class="dropdown-menu">
						<form class="px-4 py-3">
							<div class="form-group">
								<label for="exampleDropdownFormEmail1">Email address</label>
								<input type="email" class="form-control" id="logemail" placeholder="email@example.com">
							</div>
							<div class="form-group">
								<label for="exampleDropdownFormPassword1">Password</label>
								<input type="password" class="form-control" id="logpassword" placeholder="Password">
							</div>
							<div class="form-group">
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="dropdownCheck">
									<label class="form-check-label" for="dropdownCheck">
										Remember me
									</label>
								</div>
							</div>
							<button type="submit" id="loginbtn" class="btn btn-primary"
								onclick="loginFormHandler(this)">Sign in</button>
						</form>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">New around here? Sign up</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./create-post.html" id="createsec" tabindex="-1"
						aria-disabled="false">Create
						Listing</a>
				</li>
			</ul>
			<!-- <form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form> -->
			<!-- <div>
					<button type="button" class="btn btn-primary">
						Notifications <span class="badge badge-light"></span>
					</button>
				</div> -->
		</div>
	</nav>
	</header>
	<div class="container">
		<form>
			<div class="form-group">
				<div id="post">
				</div>
				<button type="submit" id='delete' class="btn btn-danger">Delete Post</button>
			</div>
		</form>
		<form id="commentForm">
			<div class="form-group">
			  <label for="exampleFormControlTextarea1">COMMENT</label>
			  <textarea  name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Submit Comment</button>
		  </form>
		<div id="comments"></div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>

	<script src="/javascript/post.js"></script>
	<script src="/javascript/comment.js"></script>
	<script src="/javascript/delete-post.js"></script>
	<!-- <script src="/javascript/logout.js"></script> -->

	<script>
		$(document).ready(function () {
			var isLogged = localStorage.getItem("logged")

			function logout() {
				$("#logoutButton").hide()
				$("#navbarDropdown").show()
				$("#createsec").hide()
				$("#signUp").show()
				$("#posts").hide()
			}

			function login() {
				$("#logoutButton").show()
				$("#createsec").show()
				$("#navbarDropdown").hide()
				$("#signUp").hide()
			}

			$("#logoutButton").click(function () {
				localStorage.removeItem("logged")
				logout()
			});
			if (isLogged) {
				login()
			} else {
				logout()
			}

			//var text_val = $('#isloggedIn').val();
			//if (text_val === '') {
			//	console.log(' Sign in is Enable');
			//} else {
			//	console.log(' Sign out is enable');
			//}
		});

	</script>
</body>

</html>